<form (submit)="addOne($event, title)">
  <input #title placeholder="Enter new Todo" autofocus required>
  <button type="submit">Add</button>
</form>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ng-for="#todo of find()">
      <td>{{ todo.title }}</td>
      <td>{{ todo.status }}</td>
      <td>{{ todo.createdAt }}</td>
      <td>
        <button (click)="removeOne(todo)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
